In [ ]:

# Step 1: Import MySQLConnectionPool class and Error class
from mysql.connector import MySQLConnectionPool, Error

# Step 2: Define your database configurations
dbconfig = {
    "host": "localhost",
    "user": "root",
    "password": "anumsajid@4321",
    "database": "little_lemon_db1"
}

try:
    # Step 3: Establish a connection pool with two connections
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)

    # Step 4: Test the connection pool
    connection = pool_b.get_connection()

    if connection.is_connected():
        db_info = connection.get_server_info()
        print("Connected to MySQL Server:", db_info)
        connection.close()

#####################
    try:
        # Guest 1 booking
        table_number1 = 8
        first_name1 = "Anum"
        last_name1 = "Sajid"
        booking_time1 = "20:00"
        employee_id1 = 6

        cursor1 = connection1.cursor()
        query1 = "INSERT INTO Bookings (TableNumber, FirstName, LastName, BookingTime, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
        values1 = (table_number1, first_name1, last_name1, booking_time1, employee_id1)
        cursor1.execute(query1, values1)
        connection1.commit()

        # Guest 2 booking
        table_number2 = 5
        first_name2 = "Shayan"
        last_name2 = "Khan"
        booking_time2 = "19:00"
        employee_id2 = 6

        cursor2 = connection2.cursor()
        query2 = "INSERT INTO Bookings (TableNumber, FirstName, LastName, BookingTime, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
        values2 = (table_number2, first_name2, last_name2, booking_time2, employee_id2)
        cursor2.execute(query2, values2)
        connection2.commit()

        # Connect third guest
        connection3 = pool_b.get_connection()

        # Guest 3 booking
        table_number3 = 12
        first_name3 = "Aiyza"
        last_name3 = "Junaid"
        booking_time3 = "19:30"
        employee_id3 = 6

        cursor3 = connection3.cursor()
        query3 = "INSERT INTO Bookings (TableNumber, FirstName, LastName, BookingTime, EmployeeID) VALUES (%s, %s, %s, %s, %s)"
        values3 = (table_number3, first_name3, last_name3, booking_time3, employee_id3)
        cursor3.execute(query3, values3)
        connection3.commit()

    except pooling.PoolError as e:
        print("Error while retrieving connection from the pool:", e)
######################

    finally:
        # Step 5: Return connections back to the pool
        if connection1.is_connected():
            cursor1.close()
            connection1.close()
        if connection2.is_connected():
            cursor2.close()
            connection2.close()
        if connection3 and connection3.is_connected():
            cursor3.close()
            connection3.close()

    # Retrieve the name and EmployeeID of the Little Lemon manager
    query1 = """SELECT Name, EmployeeID FROM Employees 
    WHERE Role = 'Manager' AND Restaurant = 'Little Lemon'"""
    cursor.execute(query1)
    manager_name, manager_id = cursor.fetchone()

    # Retrieve the name and role of the employee with the highest salary
    query2 = """SELECT Name, Role FROM Employees 
    WHERE Salary = (SELECT MAX(Salary) FROM Employees)"""
    cursor.execute(query2)
    employee_name, employee_role = cursor.fetchone()

    # Retrieve the number of guests booked between 18:00 and 20:00
    query3 = """SELECT COUNT(*) 
    FROM Bookings 
    WHERE BookingTime BETWEEN '18:00' AND '20:00'"""
    cursor.execute(query3)
    guests_booked = cursor.fetchone()[0]

    # Retrieve the full name and BookingID of guests waiting to be seated, sorted by BookingSlot
    query4 = """SELECT CONCAT(FirstName, ' ', LastName) AS FullName, BookingID 
    FROM Bookings 
    WHERE Status = 'Waiting' ORDER BY BookingSlot"""
    cursor.execute(query4)
    waiting_guests = cursor.fetchall()

    # Step 3: Print the report
    print("Little Lemon Manager:")
    print("Name:", manager_name)
    print("EmployeeID:", manager_id)
    print("\nEmployee with Highest Salary:")
    print("Name:", employee_name)
    print("Role:", employee_role)
    print("\nNumber of Guests Booked between 18:00 and 20:00:", guests_booked)
    print("\nWaiting Guests:")
    for guests in waiting_guests:
        full_name, booking_id = guests
        print("Name:", full_name)
        print("BookingID:", booking_id)
        print()

    create_procedur_query="""
    CREATE PROCEDURE BasicSalesReport()
    BEGIN
    ##Variable declarations
    DECLARE total_sales DECIMAL(10, 2);
    DECLARE avg_sale DECIMAL(10, 2);
    DECLARE min_bill DECIMAL(10, 2);
    DECLARE max_bill DECIMAL(10, 2);

    SELECT SUM(SaleAmount) INTO total_sales FROM Sales;

    SELECT AVG(SaleAmount) INTO avg_sale FROM Sales;

    SELECT MIN(BillPaid) INTO min_bill FROM Sales;

    SELECT MAX(BillPaid) INTO max_bill FROM Sales;

    SELECT total_sales AS TotalSales, avg_sale AS AverageSale, min_bill AS MinimumBillPaid, max_bill AS MaximumBillPaid;
    END;"""

    cursor.callproc("BasicSalesReport")

    # Step 4: Retrieve the results
    results = cursor.stored_results()
    statistics = results.fetchone()

    # Step 5: Print 
    print("Basic Sales Report:")
    print("Total Sales:", statistics[0])
    print("Average Sale:", statistics[1])
    print("Minimum Bill Paid:", statistics[2])
    print("Maximum Bill Paid:", statistics[3])

     #Task 5
     # Establish a connection from the pool
    pool_b = mysql.connector.pooling.MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    connection = pool_b.get_connection()

    # Create a buffered cursor
    cursor = connection.cursor(buffered=True)

    #  Retrieve the next three upcoming bookings with employee information
    query = "SELECT b.BookingSlot, CONCAT(b.FirstName, ' ', b.LastName) AS GuestName, CONCAT(e.Name, ' [', e.Role, ']') AS AssignedTo FROM Bookings AS b INNER JOIN Employees AS e ON b.EmployeeID = e.EmployeeID WHERE b.Status = 'Confirmed' ORDER BY b.BookingSlot ASC LIMIT 3"
    cursor.execute(query)
    bookings = cursor.fetchall()

    # Display the information on the kitchen screen
    print("Next Three Upcoming Bookings:")
    for booking in bookings:
        booking_slot, guest_name, assigned_to = booking
        print("BookingSlot:", booking_slot)
        print("Guest Name:", guest_name)
        print("Assigned to:", assigned_to)
        print()

    # Return the connection back to the pool
    cursor.close()
    connection.close()
   
except Error as e:
    print("Error while connecting to MySQL:", e)